@import "~bootstrap/scss/bootstrap";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.navbar {
  @media screen {
    display: flex;
    justify-content: flex-start;
    ul {
      display: flex;
      flex-direction: row;
      li {
        margin-left: 1rem;
      }
    }
  }
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    margin-right: 1rem;
  }
}

.block_alert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: none;
    background-color: transparent;
    font-size: 20px;
  }
  strong{
    margin-right: 1rem;
  }
}

.alert_animation-enter {
  opacity: 0;
}

.alert_animation-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert_animation-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.note_animation-exit-active{
  animation: note 1s ease-out forwards;
}

.note_animation-enter-active {
animation: note 800ms ease-in alternate-reverse;
}

@keyframes note{
  0%{
    transform: translateX(0);
  }
  30%{
    opacity: .7;
    transform: translateX(30px);
  }
  100%{
    opacity: 0;
    transform: translateX(-200px);
  }
}